*{

    max-block-size: 100%;
    max-height: 100%;
    -webkit-font-smoothing: antialiased;
}

*::selection{

    background-color: transparent;
}

body{

    margin: 2vw;
    padding: 8px;
    background-color: #F8F9FA ;
    // background-color: #F8F9FA;
    background-blend-mode: color-burn;
}

.navbar{
    
    list-style-type: none;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    color: aliceblue;
    z-index: 1;
      
    .first{
        
        list-style-type: none;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-direction: row;
        justify-content: start;
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .second{

        list-style-type: none;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-direction: row;
        justify-content: start;
        position: absolute;
        top: 16%;
        left: 41%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    li{
        margin-left: 50px;
        font-size: 15px;
    }
}

.blurred{

    opacity: 0.4;
    transition: opacity 0.2s ease;
}

.periodic-table #alkali{

    position: relative;
    z-index: 2;
}

#buttonalkali{

    color: rgb(0, 117, 140);
    font-weight: 600;
    cursor: pointer;

}

#buttonalkaline{

    color: rgba(214, 0, 36, 1);
    font-weight: 600;
    cursor: pointer;

}

#buttonlan{

    color: rgb(0, 51, 85);
    font-weight: 600;
    cursor: pointer;

}

#buttonact{

    color: rgb(199, 50, 0);
    font-weight: 600;
    cursor: pointer;

}

#buttontrans{

    color: rgb(98, 50, 236);
    font-weight: 600;
    cursor: pointer;

}


#buttonposttrans{

    color: rgb(0, 44, 0);
    font-weight: 600;
    cursor: pointer;

}

#buttonmetalloids{

    color: rgb(148, 87, 0);
    font-weight: 600;
    cursor: pointer;

}

#buttonreact{

    color: rgb(0, 96, 240);
    font-weight: 600;
    cursor: pointer;

}

#buttonnoble{

    color: rgb(205, 29, 94);
    font-weight: 600;
    cursor: pointer;

}

#buttonunknown{

    color: rgb(63, 55, 79);
    font-weight: 600;
    cursor: pointer;
}

.info{

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: self-end;
    height: 3.5vw;
    font-size: 10px;
}

.alkali:hover, 
.alkali:focus, 
.alkali:active{
    
    transform: scale(1.1);
    
    cursor: pointer;
    border: 3px solid rgba(0, 117, 140, 1);

}

.alkaline:hover,
.alkaline:focus,
.alkaline:active{
    
    transform: scale(1.1);
    
    cursor: pointer;
    border: 3px solid rgba(214, 0, 36, 1);

}

.lanthanide:hover {
    
    transform: scale(1.1);
    
    cursor: pointer;
    border: 3px solid rgb(0, 51, 85);

}

.actinide:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(199, 50, 0);

}

.transition:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    border: 3px solid rgb(98, 50, 236);

}

.post-transition:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(0, 44, 0);

}

.metalloid:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(148, 87, 0);

}

.reactive-nonmetal:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(0, 96, 240);

}

.noble-gas:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(205, 29, 94);
}

.unknown:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    
    border: 3px solid rgb(63, 55, 79);

}

.overextend{

    font-size: 9px;
}

#element-info {
    
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: 0.3s;
    height: 700px;
    width: 500px;
}

#element-info h2 {

    font-size: 25px;
    margin-bottom: 10px;
}

#element-info p {

    font-size: 20px;
    font-weight: 450;
    margin-bottom: 0;
}

#element-subshell{

    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightblue;
    background: transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
  }

  #sub{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightblue;
    background: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 999;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

#electron1{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 17.5%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#electron1{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 17.5%;
    left: 60%;
    transform: translate(-50%, -50%);
}

#electron2{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 17.5%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#electron3{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 17.5%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#electron4{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 17.5%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#electron5{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#electron6{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 31.25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#electron7{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 28%;
    left: 37.5%;
    transform: translate(-50%, -50%);
}

#electron8{

    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
    top: 6.5%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.blur {
    
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

#element-name{

    margin-top: 50px;
}

#element-description{

    display: flex;
    margin-top: 20px;
    font-size: 18.5px !important;
    text-align: justify;
    padding: 20px;
}

#know-more{

    display: flex;
    margin-top: 20px;
    font-size: 20px !important;
    justify-content: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-weight: 500;
}
